// shared styles

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background: #fff;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
}

ul {
    list-style-type: none;
}

// Classes

.btn {
    border-radius: 0.4rem;
    color: #fff;
    margin: 1rem;
    opacity: 0.8;
    text-align: center;
    width: 25vw;

    &:hover {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

}

.btn-cta {
    background-color: #00c853;
    border: none;
    font-size: 2rem;
    opacity: 1;
    padding: 1rem 2rem;
    width: auto;

    &:hover {
        filter: brightness(110%);
    }
}

.btn-transparent {
    background: rgba(255, 255, 255, 0.3);
    border: none;
}

.btn-ghost {
    border: 0.125rem solid #fff;
    padding: 14px;
}

// Page Container

.page-container {
    position: relative;
}

// Header 

header, footer {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header {

    .nav-brand {
        cursor: pointer;
        display: flex;

        &:hover {
            color: #5588d3;
            filter: brightness(150%);
            transition: all 0.5s ease-in-out;

            &>i {
                filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
            }

            &>h1 {
                filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
            }
        }

        i {
            margin: 0.25rem 0.5rem 0;
        }

        h1 {
            font-size: 1.5rem;
        }
      
    }

    i {
        font-size: 1.5rem;
    }

    #menu-toggle {
        color: #fff;
        opacity: 0.8;
        position: absolute;
        top: 2.5vh;
        right: 8vw;

        &:hover {
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }

    }

    #nav-mobile-top {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -30rem;
        left: 0;
        width: 100vw;

        &:target {
            transform: translateY(30rem);
            transition: all 0.5s ease-in-out;
        }

    }
  
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            position: relative;

            &:first-of-type {
                top: 2.5vh;
                right: -38vw;
            }

            a {
                display: block;
                color: #fff;
                font-size: 1rem;
                margin: 0.75rem 0;
                opacity: 0.8;
                padding: 1rem;
                text-decoration: none;
                width: 100%;
                height: 100%;
                white-space: nowrap;

                &:hover {
                    opacity: 1;
                    transition: all 0.5s ease-in-out;
                }

            }

            a#nav-close {
                margin: 0;
                padding: 0;
                position: absolute;
            }

        }

    }

    #nav-close {

        &:hover {
            text-decoration: none;
            opacity: 0.5;
        }

    }
}

// Main Content

main {

    &>section {
        padding: 4rem 5vw;
        text-align: center;
        min-height: 500px;

        &:nth-child(2n+3) {
            background: #eee;
        }

    }
}

// Hero

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-container {

        h2, p {
            color: #fff;
            text-shadow: 1px 1px 4px #212121;
        }
    
        h2 {
            font-size: 3rem;
        }
    
        p {
            margin: 1rem 0;
        }
    }

}

// Benefits Section

#benefits {
    color: #5588d3;

    h2 {
        font-size: 2.5rem;
        font-weight: 100;
        margin: 0 0 2rem;
    }

    ul {

        li {
            margin: 1rem 0 3rem;
            
            i {
                filter: brightness(80%);
                font-size: 4rem;
                margin: 1.5rem 0 2.5rem;
            }
    
            h3 {
                font-size: 1.6rem;
                margin: 1rem 0;
            }

            h3 > a {
                color: #5588d3;

                &:hover {
                    filter: brightness(110%);
                }
            }

            p {
                color: #000;
                margin: 0 0 2.5rem;
            }
    
        }

    }

}

// Flagship section

#flagship {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    position: relative;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;

        h2 {
            color: #5588d3;
            font-size: 2.5rem;
            font-weight: 100;
            margin-bottom: 1rem;
        }
    
        p {
            margin-bottom: 2rem;
        }

    }
    
    .image {
        margin-top: auto;

        img {
            width: 80vw;
            height: auto;
        }

    }

}

// Footer

footer {
    justify-content: space-around;
}

/////////////////////////
//    Media Queries    //
/////////////////////////

@media (min-width: 768px) {

    header {
        flex-direction: row;

        #nav-mobile-top {

            background: none;
            color: #fff;
            top: 0;
            position: relative;

            ul {
                flex-direction: row;
                justify-content: flex-end;

                li {
                    font-size: 1.25rem;
                    margin: 0 1rem;
                }

                a {
                    padding: 0.5rem 1rem;

                }

                a.btn {
                    margin: 0;
                    width: auto;
                }

            }

        }

        #menu-toggle, .toggle {
            display: none;
        }

    }

    #hero {
        height: 600px;
    
        h2 {
            font-size: 3rem;
        }
    
        p {
            font-size: 1.5rem;
        }
  
    }

    // Benefits Section
  
    #benefits {
    
        ul {
            display: flex;
            justify-content: space-around;

            li {
                flex: 1;

                i {
                    font-size: 6rem;
                }

            }

        }
        
    }

    // Flagship Section (Tablet and larger)

    #flagship {
        flex-direction: column;
        
        .content {
            align-items: start;
            margin-bottom: 0;
            padding: 0 4rem;
            text-align: left;

            button {
                margin-left: 0;
                margin-right: 0;
            }

        }

        .image {

            img {
                width: 45vw;
            }

        }

    }

}

